.activity {
    display: flex;
    flex-direction: column;
    width: 835px;
    height: 320px;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: #FBFBFB;
    justify-content: flex-start;
}

.activity-title {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 47px;
    margin-left: 47px;
    color: #20253A;
}

ul.recharts-default-legend {
    position: relative;
    bottom: 281px;
    left: 220px;
}

.custom-tooltip {
    width: 39px;
    height:63px;
    text-align: center;
    background-color: #E60000;
}

.poids-tooltip, .calories-tooltip{
    font-size: 7px;
    font-weight: 500 medium;
    line-height: 24px;
    color: #FFFFFF
}

.text-color-class {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #74798C;
    margin: 0px
}