* {
    font-family: 'Roboto';
}
#root {
    margin: -8px
}
main {
    display: flex;
}

.stats-container {
    display: flex;
    margin-top: 77px;
    margin-left: 107px;
}
.graph-container {
    width: 835px;
    height: 263px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
}
.numbers-container {
    margin-left: 31px;
}