.line-chart-container {
  background: red;
  width: 258px;
  height: 263px;
  border-radius: 5px;
  
}

.graphline-title {
    color: white;
    opacity: 0.3;
    font-size: 15px;
    position: absolute;
    top: 760px;
    left: 280px;
    width: 160px;
    height: 60px;
    
}
.graph-line {
    background: #FF0000;
    height: 263px;
    width: 258px;
    border-radius: 5px;
}

.graphline-tooltip {
    height: 25px;
    width: 39px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 0.7rem;
}

.tooltip-graphline {
    height: 12px;
}
