.circle {
    background-color: #FBFBFB;
    border-radius: 5px;   
}
.percentage {
    font-size: 26px;
    font-weight: 700, bold;
    font-family: 'Roboto';
}
text.text-percentage {
    font-size: 16px; 
}
.test-circle {
   width: 159px;
   height: 159px;
   transform: rotate(-45deg)
}