main {
    display: flex;
}

.activity-graphic {
    display: flex;
    width: 835px;
    height: 320px;
    margin: 0;
    padding: 0;
}
.stats-container {
    display: flex;
    margin-top: 77px;
    margin-left: 107px;
}
.graph-container {
    width: 835px;
    height: 263px;
    display: flex;
    justify-content: space-between;
}