aside {
    width: 117px;
    height: 1024px;
    background: black;    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    padding-top: 330px;
    margin-bottom: 200px;
  }
.sport-img {
    width: 64px;
    height: 64px;
    border-radius: 6px;
    margin-bottom: 20px;
    background: white;
}
.copyright{
    transform: rotate(-90deg);  
    width: 138px; 
    align-content: center;  
}
.copyright-txt {
    color: white;
    line-height: 24px;
    font-size: 12px; 
    font-weight: 500, medium
}